body {
    padding: 0;
    margin: 0
}

input{
    margin: 1em;
    padding: 1em;
    font-size: medium;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 0.5em;
}

input:hover{
    border: 1px solid #aaa
}

@media screen and (max-aspect-ratio: 1/1) {
    input{
        font-size: xx-large;
    }
}

#toomany {
    position: relative;
    height: 100vh
}

#toomany .toomany {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.toomany {
    max-width: 620px;
    width: 100%;
    line-height: 1.4;
    text-align: center
}

.toomany .toomany_sub {
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
    z-index: -1
}

.toomany .toomany_sub h1 {
    font-family: montserrat, sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.toomany .toomany_sub h2 {
    font-family: montserrat, sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width:767px) {
    .toomany .toomany_sub h1 {
        font-size: 148px
    }
}

@media only screen and (max-width:480px) {
    .toomany .toomany_sub {
        height: 148px;
        margin: 0 auto 10px
    }

    .toomany .toomany_sub h1 {
        font-size: 86px
    }

    .toomany .toomany_sub h2 {
        font-size: 16px
    }
}
